<nav class="global-nav">
  <div class="container">
    <% if user_signed_in? %>
      <div class="navigation">
        <ul class="left-actions">
          <li class="nav-item">
            <%= link_to "ホーム", root_path, class: "nav-link" %>
          </li>
        </ul>
        
        <ul class="right-actions">
          <li class="nav-item">
            <%= link_to "投稿", new_post_path, class: "btn btn-primary tweet-btn" %>
          </li>
          <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
        </ul>
      </div>
    <% else %>
      <div class="navigation">
        <ul class="left-actions">
          <li class="nav-item">
            <%= link_to "汁麺", root_path, class: "nav-brand" %>
          </li>
        </ul>
        <ul>
          <ul class= "right-actions">
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
            </li>
          </ul>
        </ul>
      </div>
    <% end %>
  </div>
</nav>